html {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color: rgba(41, 189, 224, 1);
}

main{
    margin-bottom: 100px;
}

.dayNum {
    width: 99%;
    height: 2rem;
    line-height: 2rem;
    margin: auto;
    margin-top: .5rem;
    text-align: center;
    border: 1px solid #c9c9c9;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    color: rgba(41, 189, 224, 1);
}

.gameStep {
    position: relative;
    width: 99%;
    // height: 12rem;
    margin: auto;
    margin-top: .5rem;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    font-size: .8rem;
    color: #fff;

    //顶部小三角
    &::after {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }


    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 20px 60px; //固定内容块-圆形图标-竖线的关键

        //线条
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 30px;
            width: 1px;
            height: 100%;
            background-color: #c9c9c9;
        }

        li {
            position: relative;
            width: 100%; //固定内容块-圆形图标-竖线的关键
            // height: 1.8rem;
            line-height: 2rem;
            margin: auto;
            margin-top: .85rem;
            text-align: center;
            border-radius: 2px;
            background-color: rgba(41, 189, 224, 1);

            //小三角
            // &::before {
            //     content: '';
            //     position: absolute;
            //     top: 9.5px;
            //     left: -16px;
            //     border-width: .4rem;
            //     border-style: solid;
            //     border-color: transparent rgba(41, 189, 224, 1) transparent transparent;
            // }

            //小三角
            .arrow {
                position: absolute;
                top: 9.5px;
                left: -16px;
                border-width: .4rem;
                border-style: solid;
                border-color: transparent rgba(41, 189, 224, 1) transparent transparent;
            }

        }

        //用伪元素装小图标，当内容添加的时候，会随之向下移动
        .murder::after {
            content: '';
            position: absolute;
            left: -45px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #c9c9c9;
            background: #fff url(../pic/sun.png) no-repeat center / 60%;
        }

        .ghost::after {
            content: '';
            position: absolute;
            left: -45px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #c9c9c9;
            background: #fff url(../pic/moon.png) no-repeat center / 50%;
        }

        //更改结果提示的背景色
        .kill-result,
        .vote-result {
            color: #000;
            background-color: #fff;
        }

        //隐藏小三角颜色
        .kill-result::before,
        .vote-result::before {
            border-color: #fff;
        }



    }
}







footer {
    z-index: 55;
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    padding: 14px 0;
    background-color: rgba(41, 189, 224, 0.6);

    button {
        width: 40%;
        height: 45px;
        outline: none;
        border-style: none;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        border-radius: 10px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(250, 179, 68, 1)
    }
}