html {
  font-size: 20px;
}

body {
  background: url("../pic/background.png") no-repeat center/cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0;
}

.container .content {
  position: relative;
  width: 19rem;
  height: 16rem;
  border-radius: 5px;
  background-color: #fff;
}

.container .logo {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: url("../pic/logo.png") no-repeat center/cover;
}

.container .panel {
  padding: 4.2rem 0;
}

.container .user, .container .password {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: .9rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #4682B4;
}

.container .user .input-user, .container .password .input-user, .container .password .input-pass {
  height: 2.5rem;
  font-size: .8rem;
  border-style: none;
  outline: none;
}

.container .user .user-icon, .container .password .user-icon, .container .password .pass-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  margin: auto;
  width: 1.3rem;
  height: 1.3rem;
  background: url("../pic/user.png") no-repeat center/80%;
}

.container .password .pass-icon {
  background: url("../pic/password.png") no-repeat center/80%;
}

.container .alert {
  margin-top: 0;
  text-align: center;
  font-size: .9rem;
  color: red;
}

.container button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: .8rem;
  margin: auto;
  width: 80%;
  height: 2.4rem;
  color: #fff;
  font-size: 1rem;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4682B4;
}
