.container.corpor .fir-page {
  margin-left: 1vw;
  margin-top: 2vw;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2%;
}

.container.corpor .fir-page span {
  color: #29B078;
}

.container.corpor .row .col-md-3 .gap {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

.container.corpor .row .col-md-3 .gap .corpor {
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #e6e6e6;
}

.container.corpor .row .col-md-3 .gap ul {
  list-style: none;
  color: #29B078;
}

.container.corpor .row .col-md-3 .gap ul .list {
  line-height: 3;
  font-size: 14px;
  font-weight: 600;
}

.container.corpor .row .col-md-3 .gap ul .list .outer {
  width: 80px;
  margin: auto;
}

.container.corpor .row .col-md-3 .gap ul .list .outer .list-hover {
  position: relative;
}

.container.corpor .row .col-md-3 .gap ul .list .outer .list-hover::before {
  content: "";
  position: absolute;
  bottom: 17px;
  left: -12px;
  width: 8.5px;
  height: 8.5px;
  border: 1.5px solid #f9a372;
  border-radius: 50%;
}

.container.corpor .row .col-md-3 .gap ul .list .outer .list-hover:hover {
  color: #ff650e;
}

.container.corpor .row .col-md-3 .gap ul .list .outer .list-hover:hover::before {
  background-color: #ff650e;
}
