html {
    font-size: 100px;
    /* 1rem=100px */
}


body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/*抬头*/
header {
    background-color: rgba(95, 192, 205, 1);
    position: fixed;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: .6rem;
    z-index: 5;

}

/*雇主 护工两个抬头*/
header div {
    /* height: .25rem;
    width: .8rem; */
    border-radius: 10px;
    margin: .1rem 0;
}

header .host {
    background-color: rgba(85, 168, 179, 1);
    color: #fff;
    font-size: .19rem;
    border: .1rem solid rgba(85, 168, 179, 1);
    text-align: center;
    line-height: 1;
}

header .worker {
    background-color: #fff;
    color: rgba(95, 192, 205, 1);
    font-size: .19rem;
    border: .1rem solid #fff;
    text-align: center;
    line-height: 1;
}

header span {
    text-align: center;

}


/*抬头右边的雪碧图*/
header .local {
    width: 22px;
    height: 30px;
    background: url('css_sprites.png') -62px -5px;
    /* background-position: -1.24rem -.1rem;  不要用rem就用原图的px*/
    background-size: 117px 87px;
    position: absolute;
    right: .14rem;
    top: .1rem;
}






/*模拟下拉框*/
.title {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: .5rem;
    margin-top: -.5rem;
    background-color: #fff;
    border-bottom: .015rem solid rgba(225, 229, 231, 1);
    z-index: 5;
    /*让主题部分的字，不会透视*/
}





.title div {
    position: relative;
    font-size: .15rem;
    color: rgba(153, 153, 153, 1);
    width: 33%;
}

/*左右竖条*/
.title .middle {
    border-left: .0075rem solid rgba(225, 229, 231, 1);
    border-right: .0075rem solid rgba(225, 229, 231, 1);
}

.title .pic {
    position: absolute;
    top: 0.12rem;
    right: -.4rem;
}

.title .pic img{
    position: absolute;
    width: .1rem;
    top: -.03rem;
    left: -.2rem;
}




/* 主体部分 */

main {
    margin-bottom: 10%;
    margin-top: -.9rem;
}


/*给下拉框留位置，因为上面fixed脱离了，所以必须我手动给出空间*/
ul {
    margin-top: 2rem;
}

/*表格的底边线条*/
li {
    display: flex;
    position: relative;
    border-bottom: .0075rem solid rgba(225, 229, 231, 1);
    width: 100%;
    height: .85rem;

}


/*用弹性盒子来布局左边列*/
.row1 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.row1 .time-gap{
    margin-top: -.45rem;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}


.row1 .long {
    /* margin-top: -.4rem;
    margin-bottom: .02rem; */
}


.row1 .localspot {
    margin-top: -1.1rem;
}


/*用弹性盒子来布局右边列*/

.row2 {
    /* display: flex;
    align-items: center;
    position: relative;
    margin-left: 2rem;
    margin-top: .25rem;
    flex-shrink: 0; */
    position: absolute;
    top: -.56rem;
    right: .4rem;
}



/*日期 时长 地点文字属性*/
li .date {
    position: absolute;
    top: .1rem;
    font-size: .13rem;
    color: rgba(153, 153, 153, 1);
}

li .long {
    color: rgba(51, 51, 51, 1);
    font-size: .13rem;
    text-overflow: ellipsis;/*文本溢出显示省略号*/

}

li .spot {
    color: rgba(153, 153, 153, 1);
    font-size: .12rem;
}

li .cost {
    background-color: #fff;
    color: rgba(230, 59, 14, 1);
    font-size: .15rem;
}




.sprite-calen {
    position: absolute;
    top: .13rem;
    left: -.15rem;
    width: 12px;
    height: 12px;
    background: url('css_sprites.png') -92px -62px no-repeat;
    background-size: 117px 87px;
}

.sprite-local {
    position: absolute;
    top: .6rem;
    left: -.15rem;
    width: 20px;
    height: 20px;
    background: url('css_sprites.png') -60px -37px no-repeat;
    background-size: 117px 87px;


}

.sprite-right {
    position: absolute;
    right: -.35rem;
    bottom: .22rem;
    width: 18px;
    height: 17px;
    background: url('css_sprites.png') -93px -35.5px no-repeat;
    background-size: 117px 87px;

}



/*footer*/

footer {
    position: fixed;
    /* display: flex;
    align-content: center;
    justify-content: center; */
    bottom: 0;
    width: 100%;
    /* height: 1.1rem; */
    background-color: rgba(248, 250, 251, 1);
    border: solid rgba(219, 229, 231, 1);
}


/*底部三个小logo*/
.page {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.15rem;
    left: .8rem;
}

.write {
    display: flex;
    justify-content: center;
}

.mine {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.35rem;
    right: 0.8rem;
}

.page img {
    width: 60%
}

.mine img {
    width: 60%;
}

.write img {
    width: .5rem;
    height: .5rem;
}


footer span {
    font-size: .1rem;
}

footer .blue {
    color: rgba(85, 168, 179, 1);
}

footer .grey {
    color: rgba(153, 153, 153, 1);
}