main {
    background-color: #fafafa;
}


.head-down-text {
    display: flex;
    position: absolute;
    top: 59%;
    right: 15%;
    transform: translatey(-50%);
    font-size: 11px;
    color: #ffffff;
}

section .head-text {
    text-align: center;
    width: 45px;
    height: 44px;
    line-height: 34px;
    margin-left: 10px;
}

.head-text:hover {
    border-bottom: 1.5px solid #ffffff;
}

/*加跳转链接*/
.head-text a {
    text-decoration: none;
    color: #ffffff;
}


/*首页 职业 推荐--hover效果*/
.navbar-nav .nav-item .nav-link {
    padding: 15px;
    border: 1px solid #26a26f;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 1px solid white;
}



main .showpic {
    position: relative;
    display: flex;
    justify-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 13vw;
    background: url("task8-img/background2.png") no-repeat;
    background-size: cover;
}


main .recom {
    position: absolute;
    width: 17vw;
    height: 10vw;
    top: 56%;
    left: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: MFLangQian_Noncommercial-Regular;
    color: #ffffff;
}

.recom .cn {
    font-size: 3vw;
    font-weight: bold;
}


.recom .en {
    font-weight: bold;
    font-size: 1.3vw;
}


.recom p {
    margin: 0;
}


.showpic .cn-2 {
    position: absolute;
    width: 18vw;
    height: 5vw;
    top: 57%;
    left: 67%;
    transform: translateY(-50%);
    font-size: 3.8vw;
    font-weight: bold;
    font-family: MFLangQian_Noncommercial-Regular;
    color: #ffffff;
}


/*正文开始*/

main {
    position: relative;

    background-color: #fafafa;
}

.fir-page {
    margin-left: 1vw;
    margin-top: 2vw;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2%;
}

.fir-page span {
    color: #29B078;
}



nav .gap {
    background-color: #ffffff;
    border: 1px solid rgba(230, 230, 230, 1);

}


nav .corpor {
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}


nav ul {
    list-style: none;
    color: #29B078;
}

/* nav ul span:hover {
    color: rgba(255, 101, 14, 1);
} */


nav .list {
    line-height: 3;
    font-size: 14px;
    font-weight: 600;
}


nav .outer {
    width: 80px;
    margin: auto;
}


/*设置企业字体前的橙色圆点，需要同时点亮*/

/*注意，伪元素绝对定位了，本尊也必须relative，不然就飞了*/

.list-hover {
    position: relative;
}

.corpor .list-hover::before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: -12px;
    width: 8.5px;
    height: 8.5px;
    border: 1.5px solid rgba(249, 163, 114, 1);
    border-radius: 50%;
}

.corpor .list:hover {
    color: rgba(255, 101, 14, 1);
}

/*这一步是关键， hover+before的组合，之前没见过*/
.list-hover:hover::before {
    background-color: rgba(255, 101, 14, 1);
}




.col-md-9 {
    margin-bottom: 150px;
    padding-bottom: 130px;
    font-size: 15px;
    color: rgba(153, 153, 153, 1);
    background-color: #ffffff;
}


.col-md-9 .intro {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 70px;
    padding-bottom: 20px;
}



.col-md-9 .intro img {
    float: left;
    width: 125px;
}

.col-md-9 .intro p {
    margin-top: 30px;
}

.col-md-9 .words p {
    margin-top: 40px;
}

/*抬头的修真院微调--boot组件自带的位置*/
.navbar-brand {
    margin-left: 2%;
}

/*给底部文字加hover效果*/
.container.footer p a {
    border: 1px solid #26A26F;
    text-decoration: none;
    color: #ffffff;
}

.container.footer a:hover {
    border-bottom: 1px solid white;
}